* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main {
  width: 1440px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(images/bg-bottom.svg) left bottom,
    url(images/bg-top.svg) right top;
  background-repeat: no-repeat;
  background-color: hsl(240, 78%, 98%);
  text-align: center;
}
header {
  margin-bottom: 65px;
}
h2 {
  color: hsl(233, 13%, 49%);
  font-size: 32px;
  margin-bottom: 40px;
}
#toggle {
  display: flex;
  align-items: center;
}
.monthly {
  display: none;
}
/*---------------------- SWITCH --------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}
/*-------------------------------------------------------------*/
#options {
  display: flex;
  align-items: center;
}
.options-item h3 {
  margin-bottom: 20px;
}
.options-item p {
  height: 50px;
  position: relative;
  top: 18px;
}
.options-item h1 {
  margin-bottom: 40px;
}
.side {
  height: 450px;
  width: 350px;
  background: white;
  padding: 30px;
}
.side {
  color: hsl(233, 13%, 49%);
}
.side h1 {
  font-size: 70px;
}
.left {
  border-radius: 10px 0 0 10px;
}
.right {
  border-radius: 0 10px 10px 0;
}
span.dollar {
  font-size: 30px;
  position: relative;
  top: -15px;
}
.center {
  height: 500px;
  width: 350px;
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 10px;
  color: white;
  padding: 55px 30px;
}
.center h1 {
  font-size: 70px;
}
hr {
  border: 0.4px solid hsl(234, 14%, 74%);
}
button {
  width: 290px;
  height: 45px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  position: relative;
  top: 25px;
}
.side button {
  color: white;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.center button {
  background: white;
  color: hsl(237, 63%, 64%);
}
button:hover {
  background: transparent;
  border: 0.5px solid hsl(234, 14%, 74%);
}
.side button:hover {
  color: hsl(237, 63%, 64%);
}
.center button:hover {
  color: white;
}
/*----- MOBILE VERSION ------*/
@media only screen and (max-width: 375px) {
  * {
    max-width: 375px;
  }
  #main {
    height: 1760px;
  }
  #options {
    flex-direction: column;
  }
  .options-item {
    width: 325px;
    height: 455px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px;
  }
}
